
LetsCode/Data/acessos_banda_larga_fixa.zip
LetsCode/Data/Acessos_Banda_Larga_Fixa_2007-2010.csv
LetsCode/Data/Acessos_Banda_Larga_Fixa_2011-2012.csv
LetsCode/Data/Acessos_Banda_Larga_Fixa_2013-2014.csv
LetsCode/Data/Acessos_Banda_Larga_Fixa_2015-2016.csv
LetsCode/Data/Acessos_Banda_Larga_Fixa_2017-2018.csv
LetsCode/Data/Acessos_Banda_Larga_Fixa_2019-2020.csv
LetsCode/Data/Acessos_Banda_Larga_Fixa_Total.csv
LetsCode/Data/Densidade_Banda_Larga_Fixa.csv
